body {
    margin: 0;
    padding: 0;
    background-color: hsl(257, 40%, 49%);
    background-size: cover;
    background-image: url(/images/bg-desktop.svg);
    color: white;
    display: inline-block;
}
