body {
    margin: 0;
    padding: 0;
    background-color: hsl(257, 40%, 49%);
    background-size: cover;
    background-image: url(/images/bg-desktop.svg);
    color: white;
    display: inline-block;
}
#header {
    height: 200px;
}
#img-logo {
    margin: 70px;
}
#illustration {
    width: 900px;
    margin-left: 70px;
}
#main-left {
    position: relative;
    width: 1020px;
    height: 600px;
    border: solid 2px;
}
#main-right {
    position: relative;
    left: 900px;
}
